<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body style="background: linear-gradient(to left, #FF1493,#8B0000)">
    <div class="container">
        <div class="buttons mx-auto mt-5 w-50">
            <figure class="text-center">
                <blockquote class="blockquote text-white">
                    <h1>Modelo {{ name_model }}</h1>
                    <h2>Resultados</h2>
                </blockquote>
            </figure>
        </div>
        <div class="mt-5">
            <table class="table table-striped ">
                <thead>
                    <tr class="blockquote text-center text-warning text-uppercase">
                        <th>Símbolo</th>
                        <th>Operación</th>
                        <th>Significado</th>
                        <th>Resultado</th>
                    </tr>
                </thead>
                {% if name_model == 'MM1' %}
                <tbody class="blockquote text-center align-middle">

                    <tr class="table-info">
                        <th scope="row" class="font-italic">𝜌</th>
                        <td class="font-italic"><img src="https://i.ibb.co/R2gddJR/mm1P.png" width="100" height="70"></td>
                        <td class="blockquote">Factor de uso del sistema</td>
                        <td class="blockquote text-dark">{{ model.p }} <br>ó<br> {{ model.pPer }}%</td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row" class="font-italic">Cn</th>
                        <td class="font-italic"><img src="https://i.ibb.co/3yXhvZT/mm1Cn.png" width="100" height="50"></td>
                        <td class="blockquote">...</td>
                        <td class="blockquote text-dark">{{ model.cn }} </td>
                    </tr>
                    <tr class="table-info  ">
                        <th scope="row" class="font-italic">Po</th>
                        <td class="font-italic"><img src="https://i.ibb.co/379KMKk/mm1Po.png" width="110" height="50"></td>
                        <td class="blockquote">Probabilidad que existan 0 clientes <br> en el sistema</td>
                        <td class="blockquote text-dark">{{ model.po }} <br>ó<br> {{ model.poPer }}%</td>
                    </tr>     
                    <tr class="table-light">
                        <th scope="row" class="font-italic">Pn</th>
                        <td class="font-italic"><img src="https://i.ibb.co/pRjKkZD/mm1Pn.png" width="110" height="50"></td>
                        <td class="blockquote">Probabilidad que se encuentren <br>{{ model.n }} clientes en el sistema</td>
                        <td class="blockquote text-dark">{{ model.pn }} </td>
                    </tr>     
                    <tr class="table-info">
                        <th scope="row" class="font-italic">Lq</th>
                        <td class="font-italic"><img src="https://i.ibb.co/LrKQ17t/mm1Lq.png" width="115" height="80"></td>
                        <td class="blockquote">Número promedio de clientes <br> haciendo fila</td>
                        <td class="blockquote text-dark">{{ model.lq }} <br> clientes</td>
                    </tr>    
                    <tr class="table-light ">
                        <th scope="row" class="font-italic">L</th>
                        <td class="font-italic"><img src="https://i.ibb.co/xmKPFbS/mm1L.png" width="130" height="80"></td>
                        <td class="blockquote">Número promedio de clientes <br> en el sistema</td>
                        <td class="blockquote text-dark">{{ model.L }} <br> clientes</td>
                    </tr>    
                    <tr class="table-info">
                        <th scope="row" class="font-italic">Wq</th>
                        <td class="font-italic"><img src="https://i.ibb.co/R21759t/mm1Wq.png" width="115" height="70"></td>
                        <td class="blockquote">Tiempo promedio de los clientes <br> haciendo fila</td>
                        <td class="blockquote text-dark">{{ model.wq }} <br> {{ model.time }} </td>
                    </tr>    
                    <tr class="table-light">
                        <th scope="row" class="font-italic">W</th>
                        <td class="font-italic"><img src="https://i.ibb.co/qM3vBpK/mm1W.png" width="115" height="70"></td>
                        <td class="blockquote">Tiempo promedio<br> en el sistema</td>
                        <td class="blockquote text-dark">{{ model.w }} <br> {{ model.time }}</td>
                    </tr>    
                </tbody>
                {% endif %}
                {% if name_model == 'MMS' %}
                <tbody class="blockquote text-center">

                    <tr class="table-info">
                        <th scope="row" class="font-italic">𝜌</th>
                        <td class="font-italic"><img src="https://i.ibb.co/R2gddJR/mm1P.png" width="100" height="70"></td>
                        <td class="blockquote">Factor de uso del sistema</td>
                        <td class="blockquote text-dark">{{ model.p }} <br>ó<br> {{ model.pPer }}%</td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row" class="font-italic">Cn</th>
                        <td class="font-italic"><img src="https://i.ibb.co/PgyFjGy/mmsCn.png" width="150" height="170"></td>
                        <td class="blockquote">...</td>
                        <td class="blockquote text-dark">{{ model.cn }} <br>ó<br> {{ model.cnPer }}%</td>
                    </tr>
                    <tr class="table-info  ">
                        <th scope="row" class="font-italic">Po</th>
                        <td class="font-italic"><img src="https://i.ibb.co/4ZWS8R8/mmsPo.png" width="300" height="100"></td>
                        <td class="blockquote">Probabilidad que existan 0 clientes <br> en el sistema</td>
                        <td class="blockquote text-dark">{{ model.po }} <br>ó<br> {{ model.poPer }}%</td>
                    </tr>     
                    <tr class="table-light">
                        <th scope="row" class="font-italic">Pn</th>
                        <td class="font-italic"><img src="https://i.ibb.co/MBZK3tg/mmsPn.png" width="140" height="170"></td>
                        <td class="blockquote">Probabilidad que se encuentren <br> {{ model.n }} clientes en el sistema</td>
                        <td class="blockquote text-dark">{{ model.pn }} <br>ó<br> {{ model.pnPer }}%</td>
                    </tr>     
                    <tr class="table-info">
                        <th scope="row" class="font-italic">Lq</th>
                        <td class="font-italic"><img src="https://i.ibb.co/Y4gGztB/mms-Lq-2.png" width="150" height="100"></td>
                        <td class="blockquote">Número promedio de clientes <br> haciendo fila</td>
                        <td class="blockquote text-dark">{{ model.lq }} <br> clientes</td>
                    </tr>    
                    <tr class="table-light">
                        <th scope="row" class="font-italic">L</th>
                        <td class="font-italic"><img src="https://i.ibb.co/23r0mbK/mmsL.png" width="120" height="80"></td>
                        <td class="blockquote">Número promedio de clientes <br> en el sistema</td>
                        <td class="blockquote text-dark">{{ model.L }} <br> clientes</td>
                    </tr>    
                    <tr class="table-info">
                        <th scope="row" class="font-italic">Wq</th>
                        <td class="font-italic"><img src="https://i.ibb.co/GpVBDQt/mmsWq.png" width="120" height="70"></td>
                        <td class="blockquote">Tiempo promedio de los clientes <br> haciendo fila</td>
                        <td class="blockquote text-dark">{{ model.wq }} <br> {{ model.time }} </td>
                    </tr>    
                    <tr class="table-light">
                        <th scope="row" class="font-italic">W</th>
                        <td class="font-italic"><img src="https://i.ibb.co/47FfsJN/mmsW.png" width="120" height="70"></td>
                        <td class="blockquote">Tiempo promedio<br> en el sistema</td>
                        <td class="blockquote text-dark">{{ model.w }} <br> {{ model.time }}</td>
                    </tr>    
                </tbody>
                {% endif %}
                {% if name_model == 'MMSK' %}
                <tbody class="blockquote text-center">

                    <tr class="table-info">
                        <th scope="row" class="font-italic">𝜌</th>
                        <td class="font-italic"><img src="https://i.ibb.co/R2gddJR/mm1P.png" width="100" height="70"></td>
                        <td class="blockquote">Factor de uso del sistema</td>
                        <td class="blockquote text-dark">{{ model.p }} <br>ó<br> {{ model.pPer }}%</td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row" class="font-italic">Cn</th>
                        <td class="font-italic"><img src="https://i.ibb.co/kJxQRMJ/mmskCn.png" width="270" height="200"></td>
                        <td class="blockquote">...</td>
                        <td class="blockquote text-dark">{{ model.cn }} <br>ó<br> {{ model.cnPer }}%</td>
                    </tr>
                    <tr class="table-info  ">
                        <th scope="row" class="font-italic">Po</th>
                        <td class="font-italic"><img src="https://i.ibb.co/GTrHLWG/mmskPo.png" width="300" height="100"></td>
                        <td class="blockquote">Probabilidad que existan 0 clientes <br> en el sistema</td>
                        <td class="blockquote text-dark">{{ model.po }} <br>ó<br> {{ model.poPer }}%</td>
                    </tr>     
                    <tr class="table-light">
                        <th scope="row" class="font-italic">Pn</th>
                        <td class="font-italic"><img src="https://i.ibb.co/wBxq6GF/mmskPn.png" width="270" height="200"></td>
                        <td class="blockquote">Probabilidad que se encuentren <br> {{ model.n }} clientes en el sistema</td>
                        <td class="blockquote text-dark">{{ model.pn }} <br>ó<br> {{ model.pnPer }}%</td>
                    </tr>     
                    <tr class="table-info">
                        <th scope="row" class="font-italic">Lq</th>
                        <td class="font-italic"><img src="https://i.ibb.co/XZq1Q9T/mmskLq.png" width="270" height="80"></td>
                        <td class="blockquote">Número promedio de clientes <br> haciendo fila</td>
                        <td class="blockquote text-dark">{{ model.lq }} <br> clientes</td>
                    </tr>    
                    <tr class="table-light">
                        <th scope="row" class="font-italic">L</th>
                        <td class="font-italic"><img src="https://i.ibb.co/HHdqRkR/mmsskL.png" width="100" height="40"></td>
                        <td class="blockquote">Número promedio de clientes <br> en el sistema</td>
                        <td class="blockquote text-dark">{{ model.L }} <br> clientes</td>
                    </tr>    
                    <tr class="table-info">
                        <th scope="row" class="font-italic">Wq</th>
                        <td class="font-italic"><img src="https://i.ibb.co/W00fyVY/mmskWq.png" width="100" height="60"></td>
                        <td class="blockquote">Tiempo promedio de los clientes <br> haciendo fila</td>
                        <td class="blockquote text-dark">{{ model.wq }} <br> {{ model.time }} </td>
                    </tr>    
                    <tr class="table-light">
                        <th scope="row" class="font-italic">W</th>
                        <td class="font-italic"><img src="https://i.ibb.co/S7PDKLR/mmskW.png" width="100" height="60"></td>
                        <td class="blockquote">Tiempo promedio<br> en el sistema</td>
                        <td class="blockquote text-dark">{{ model.w }} <br> {{ model.time }}</td>
                    </tr>    
                    <tr class="table-info">
                        <th scope="row" class="font-italic">λe</th>
                        <td class="font-italic"><img src="https://i.ibb.co/Tr7QqP0/mmskle.png" width="110" height="35"></td>
                        <td class="blockquote">Tasa efectiva<br> de arrivo</td>
                        <td class="blockquote text-dark">{{ model.le }} clientes/{{ model.time }} </td>
                    </tr>   
                </tbody>
                {% endif %}
                {% if name_model == 'MG1' %}
                <tbody class="blockquote text-center align-middle">

                    <tr class="table-info">
                        <th scope="row" class="font-italic">𝜌</th>
                        <td class="font-italic"><img src="https://i.ibb.co/R2gddJR/mm1P.png" width="100" height="70"></td>
                        <td class="blockquote">Factor de uso del sistema</td>
                        <td class="blockquote text-dark">{{ model.p }} <br>ó<br> {{ model.pPer }}%</td>
                    </tr>
                    <tr class="table-info  ">
                        <th scope="row" class="font-italic">Po</th>
                        <td class="font-italic"><img src="https://i.ibb.co/379KMKk/mm1Po.png" width="110" height="50"></td>
                        <td class="blockquote">Probabilidad que existan 0 clientes <br> en el sistema</td>
                        <td class="blockquote text-dark">{{ model.po }} <br>ó<br> {{ model.poPer }}%</td>
                    </tr>     
                    <tr class="table-light">
                        <th scope="row" class="font-italic">Pn</th>
                        <td class="font-italic"><img src="https://i.ibb.co/pRjKkZD/mm1Pn.png" width="110" height="40"></td>
                        <td class="blockquote">Probabilidad que se encuentren <br>{{ model.n }} clientes en el sistema</td>
                        <td class="blockquote text-dark">{{ model.pn }} <br>ó<br> {{ model.pnPer }}%</td>
                    </tr>     
                    <tr class="table-info">
                        <th scope="row" class="font-italic">Lq</th>
                        <td class="font-italic"><img src="https://i.ibb.co/g4cmnqP/mg1Lq.png" width="150" height="80"></td>
                        <td class="blockquote">Número promedio de clientes <br> haciendo fila</td>
                        <td class="blockquote text-dark">{{ model.lq }} <br> clientes</td>
                    </tr>    
                    <tr class="table-light ">
                        <th scope="row" class="font-italic">L</th>
                        <td class="font-italic"><img src="https://i.ibb.co/1dFbKBq/mg1L.png" width="100" height="35"></td>
                        <td class="blockquote">Número promedio de clientes <br> en el sistema</td>
                        <td class="blockquote text-dark">{{ model.L }} <br> clientes</td>
                    </tr>    
                    <tr class="table-info">
                        <th scope="row" class="font-italic">Wq</th>
                        <td class="font-italic"><img src="https://i.ibb.co/16zvkdC/mg1-Wq-1.png" width="110" height="60"></td>
                        <td class="blockquote">Tiempo promedio de los clientes <br> haciendo fila</td>
                        <td class="blockquote text-dark">{{ model.wq }} <br> {{ model.time }} </td>
                    </tr>    
                    <tr class="table-light">
                        <th scope="row" class="font-italic">W</th>
                        <td class="font-italic"><img src="https://i.ibb.co/YfMrJgc/mg1W.png" width="110" height="60"></td>
                        <td class="blockquote">Tiempo promedio<br> en el sistema</td>
                        <td class="blockquote text-dark">{{ model.w }} <br> {{ model.time }}</td>
                    </tr>    
                </tbody>
                {% endif %}

            </table>
        </div>    
    </div>
</body>